#listContainer {
  height: 284px;
  display: flex;
  flex-direction: column;
}

#list {
  flex: 1;
  overflow: auto;
  padding-top: 4px;
}

#counting {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  animation: fade-in 1s forwards;
}

#list li {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}