@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

main {
    padding: 1em 3em;
    background-color: rgb(239, 239, 239);
    color: rgb(50, 64, 71);
    width: 150px;
    height: 350px;
}